{% extends 'layout.html' %}

{% block title %}Ajouter un Prix{% endblock %}

{% block content %}
    <h2>Ajouter un nouveau prix</h2>
    <form method="POST" action="{{ url_for('add_price') }}">
        <div>
            <label for="senegal">Prix au Sénégal :</label>
            <input type="text" id="senegal" name="senegal" required>
        </div>

        <div>
            <label for="senegal_currency">Devise au Sénégal :</label>
            <input type="text" id="senegal_currency" name="senegal_currency" required>
        </div>

        <div>
            <label for="france">Prix en France :</label>
            <input type="text" id="france" name="france" required>
        </div>

        <div>
            <label for="france_currency">Devise en France :</label>
            <input type="text" id="france_currency" name="france_currency" required>
        </div>

        <div>
            <label for="canada">Prix au Canada :</label>
            <input type="text" id="canada" name="canada" required>
        </div>

        <div>
            <label for="canada_currency">Devise au Canada :</label>
            <input type="text" id="canada_currency" name="canada_currency" required>
        </div>

        <div>
            <label for="maroc">Prix au Maroc :</label>
            <input type="text" id="maroc" name="maroc" required>
        </div>

        <div>
            <label for="maroc_currency">Devise au Maroc :</label>
            <input type="text" id="maroc_currency" name="maroc_currency" required>
        </div>

        <div>
            <label for="arabi_saoudite">Prix en Arabie Saoudite :</label>
            <input type="text" id="arabi_saoudite" name="arabi_saoudite" required>
        </div>

        <div>
            <label for="arabi_saoudite_currency">Devise en Arabie Saoudite :</label>
            <input type="text" id="arabi_saoudite_currency" name="arabi_saoudite_currency" required>
        </div>

        <div class="form-actions">
            <button type="submit">Ajouter le prix</button>
            <a href="{{ url_for('list_prices') }}">
                <button type="button">Annuler</button>
            </a>
        </div>
    </form>
{% endblock %}