{% extends 'layout.html' %}

{% block title %}Modifier la Bibliothèque{% endblock %}

{% block content %}
    <h2>Modifier la bibliothèque</h2>
    <form method="POST">
        <div>
            <label for="name">Nom :</label>
            <input type="text" id="name" name="name" value="{{ library.name }}" required>
        </div>

        <div>
            <label for="created_by">Créée par :</label>
            <input type="text" id="created_by" name="created_by" value="{{ library.created_by }}" required>
        </div>

        <div>
            <label for="date_of_creation">Date de création :</label>
            <input type="date" id="date_of_creation" name="date_of_creation" value="{{ library.date_of_creation }}" required>
        </div>

        <div>
            <label for="city">Ville :</label>
            <input type="text" id="city" name="city" value="{{ library.city }}" required>
        </div>

        <div>
            <label for="country">Pays :</label>
            <input type="text" id="country" name="country" value="{{ library.country }}" required>
        </div>

        <div class="form-actions">
            <button type="submit">Mettre à jour la bibliothèque</button>
            <a href="{{ url_for('list_libraries') }}">
                <button type="button">Annuler</button>
            </a>
        </div>
    </form>
{% endblock %}