{% extends 'layout.html'%}

{% block title %}Edit Library{% endblock %}

{% block content %}
    <h2>Edit Library</h2>
    <form method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ library.name }}" required><br><br>

        <label for="created_by">Created by:</label><br>
        <input type="text" id="created_by" name="created_by" value="{{ library.created_by }}" required><br><br>

        <label for="date_of_creation">Date of Creation:</label><br>
        <input type="date" id="date_of_creation" name="date_of_creation" value="{{ library.date_of_creation }}" required><br><br>

        <label for="city">City:</label><br>
        <input type="text" id="city" name="city" value="{{ library.city }}" required><br><br>

        <label for="country">Country:</label><br>
        <input type="text" id="country" name="country" value="{{ library.country }}" required><br><br>

        <button type="submit">Update Library</button>
    </form>
{% endblock %}