{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<main class="container mt-4">
    <header class="text-center mb-5">
        <h1>Bienvenue sur Mon Gestionnaire de Livres</h1>
        <p class="lead">Une application simple pour gérer vos livres, vos bibliothèques et vos prix.</p>
    </header>

    <section class="features-list mb-5">
        <h3>Fonctionnalités principales :</h3>
        <ul>
            <li>Gérer la liste des livres : ajouter, modifier, supprimer.</li>
            <li>Gérer la liste des bibliothèques : ajouter, modifier, supprimer.</li>
            <li>Gérer la liste des prix : ajouter, modifier, supprimer.</li>
        </ul>
    </section>

    <section class="start-info mb-5">
        <p>Pour commencer, cliquez sur le lien "Ajouter un livre" dans le menu de navigation.</p>
        <p>Pour en savoir plus sur l'application, cliquez sur le lien "À propos".</p>
    </section>

    <div class="text-center mb-5">
        <p>Merci d'utiliser Mon Gestionnaire de Livres !</p>
        <p>Bonne lecture ! 📚</p>
    </div>

    <div class="homepage-image text-center mb-5">
        <img src="{{ url_for('static', filename='book.png') }}" alt="Logo du gestionnaire de livres" class="img-fluid">
    </div>

    <form method="GET" action="{{ url_for('search') }}" class="search-form">
        <div class="input-group mb-3">
            <input type="text" id="search" name="query" class="form-control" placeholder="Rechercher un livre, une bibliothèque ou un prix" aria-label="Recherche">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </form>
</main>
{% endblock %}