{% extends 'layout.html'%}

{% block title%} Home {% endblock%}

{% block content %}
<h2>Welcome to My Book Manager</h2>
<p>This is a simple application to manage your books, libraries, and prices.</p>
<p>Use the navigation links to add books, libraries, and prices, or to search for books.</p>
<p>Feel free to explore and manage your book collection!</p>

<ul>
    <li> manage the list of book: add, update, delete</li>
    <li> manage the list of libraries: add, update, delete</li>
    <li> manage the list of prices: add, update, delete</li>
    
 
</ul>
<p>To get started, click on the "Add a book" link in the navigation menu.</p>
<p>For more information about the application, click on the "About" link.</p>
<p>If you have any questions or feedback, feel free to contact us.</p>
<p>Thank you for using My Book Manager!</p>
<p>Happy reading!</p>

<div class="homepage-image">
    <img src="{{ url_for('static', filename='book.png') }}" alt="Book Manager Logo">
</div>

<form method="GET" action="{{ url_for('search') }}">
    <label for="search">Search</label>
    <input type="text" id="search" name="query" placeholder="Search for a book, library, or price">
    <button type="submit">Search</button>
</form>


{% endblock %}